<configuration>
        <appSettings>
                <add key="docPath" value="/cygdrive/c/buildroot/release/tmp/mono/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
